<div class="dashboard">
  <app-navbar></app-navbar>
  <div class="dashboardContent container mx-auto">
    <div class="heroContent">
      <p class="subheading1">Top Movie of all time</p>
      <h1 class="heroContentMovieName">AVATAR</h1>
      <div class="flex gap-7">
        <div class="bannerRating center gap-2">
          <img src="../../../assets/svg/rating star.svg" alt="">
          <p class="subheading1 monsterrat">9.3</p>
        </div>
        <div class="bannerMovieDuration center gap-2">
          <img src="../../../assets/svg/clock.svg" alt="">
          <p class="subheading1 monsterrat">2h 13m</p>
        </div>
      </div>
      <p class="bannerDiscription subheading1">
        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
        of a document or a typeface without relying
      </p>
      <button class="heroBtn">
        <img src="../../../assets/svg/play.svg" alt="">
        <p>Watch Trailer</p>
      </button>
    </div>

      <h3 class="monsterrat headerTitle">Popular Movies</h3>
  </div>
</div>
