<div class="customNavbar container mx-auto">
  <div class="navLogo">
    <img src="../../../assets/svg/RateFlix Logo.svg" alt="RATEFLIX">
  </div>
  <div class="navLinks">
    <ul>
      <li><a class="active middle" href="">Home</a></li>
      <li><a class="middle" href="">Categories</a></li>
      <li><a class="middle" href="">Movies</a></li>
      <li><a class="middle" href="">TV Series</a></li>
      <li><a class="middle" href="">News</a></li>
    </ul>
  </div>

  <div class="navButtons">
    <div class="searchButton">
      <img src="../../../assets/svg/Search.svg" alt="Search">
    </div>
    <div class="notificationButton">
      <img src="../../../assets/svg/Notification.svg" alt="Notification">
    </div>
  </div>
</div>
