.customNavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 99;
}

.navLogo{
  width: 20%;
}
.navLogo img{
  // width: 100%;
  height: 40px;
}

.navLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  color: #fff;
}

.navLinks ul li a.middle{
  position: relative;
}

.navLinks ul li a.middle::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #E50914;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.navLinks ul li a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navLinks ul li a.middle.active::before{
  visibility: visible;
  transform: scale(1);
}

.navButtons{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.searchButton, .notificationButton{
  background-color: rgba(53, 53, 53, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.searchButton img, .notificationButton img{
  width: 100%;
  height: 20px;
}
